target/
.project
.classpath
.settings/
.svn/
bin/
# Intellij
*.ipr
*.iml
.idea
out/
.DS_Store
/bootstrap
/dependencies.xml
.java-version
/.metadata/
#IReport
*.jasper
app/.factorypath

domain/.factorypath

persistence/.factorypath

ride/.factorypath

service/.factorypath

src/filters/filter-dev.properties

.vscode/settings.json
